h1 {
    line-height: 56px;
    font-size: 56px;
    margin: 15px;
}

h2 {
    line-height: 48px;
    font-size: 48px;
    margin: 12px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h2, h3 {
    margin-bottom: 10px;
}

ul, p {
    padding: 10px;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}
ul ul {
	margin-left: 20px;
    list-style-type: circle;
}
ul li {
    font-size: 24px;
}

/************************************/

#bonjour img {
    margin: 0 auto;
    display: block;
}
#bonjour {
    text-align: center;
}

/************************************/

#equipe .personnes {
    position: absolute;
    top: 135px;
    bottom: 0;
    left: 0;
    width: 100%;
}
#equipe .tile {
    width: 50%;
    height: 50%;
    overflow: hidden;
    float: left;
    padding: 20px;
}
#equipe .tile img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

/************************************/

#technologie .fight {
    text-align: center;
    margin-top: 30px;
}

#technologie .fight span {
    position: relative;
    bottom: 30px;
}

#technologie .fight img {
    display: inline;
    height: 150px;
}

#technologie .fight img[data-name="html5"] {
    margin: 0;
}
#technologie .fight img[data-name="java"] {
    margin-left: 20px;
}
